---
import HeroImage from '@/components/HeroImage.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Axel's Portfolio">
	<main id="hero" class="flex flex-col-reverse gap-5 md:gap-14 md:flex-row justify-center md:justify-around items-center min-h-screen px-4 relative">
		
		<div class="overlay"></div>
		<div class="top-gradient"></div>
		<div class="bottom-gradient"></div>

		<div class="select-none z-10 text-center md:text-left">
			<p class="text-sm font-medium lg:text-2xl text-[#100E23] bg-[#91DDFF] inline ml-1 pl-3 pr-1 py-1 rounded-l-full tag">Hi@My-name-is</p>
			<h1 class="my-2 text-[55px] sm:text-[80px] lg:text-[100px] xl:text-[120px] 2xl:text-[150px] title -ml-2 italic tracking-tight leading-none md:leading-[.85] font-extrabold"><span class="pl-3">AXEL</span><br/>CASTAÑO</h1>
			<p class="text-[#d5d7e0] text-sm lg:text-xl">~/Frontend-Developer: <span class="text-[#5BAA6C]">and</span> <span class="text-[#858791]">--your</span> problem-solver</p>
		</div>
		<!-- TODO: Change image for 3d asset -->
		<HeroImage />
	</main>
</Layout>

<style>
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('/pattern.png'), radial-gradient(circle, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1));
  	background-size: 700px, cover;
		opacity: 0.10;
		z-index: -20;
	}

	.title {
		font-family: 'Montserrat Variable', sans-serif;
	}

	.tag{
		position: relative;
	}

	.tag::before {
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%) translateX(100%);
		width: 0;
		height: 0;
		border-top: 14px solid transparent;
		border-bottom: 14px solid transparent;
		border-left: 14px solid #91DDFF;
	}

	@media (min-width: 1024px) {
		.tag::before {
			border-top: 21px solid transparent;
			border-bottom: 21px solid transparent;
			border-left: 20px solid #91DDFF;
		}
	}
	

	.top-gradient{
		position: absolute;
		width: 70vw;
		height: 10px;
		border-radius: 100%;
		pointer-events: none;
		z-index: -10;
		top: -430px;
		left: 50%;
		transform: translateX(-50%); 
		box-shadow: 0 0 180px 400px #5B7FFF;
		opacity: 0.7;
	}

	.bottom-gradient{
		position: absolute;
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: 5;
		left: 0;
		bottom: 0;
		background: linear-gradient(180deg, rgba(25, 5, 255, 0) 60%, #0075FF 100%);
		opacity: 0.10;
		mix-blend-mode: screen;
	}
</style>
