
<header class="flex static top-0 justify-center pt-2">
  <nav class="flex justify-center items-center gap-5 px-4 py-2 bg-[#16111D]/30 shadow-sm rounded-full backdrop-blur-md tracking-tight font-semibold ">
    <a
      class="transition-all text-white/70 hover:scale-105 hover:text-white py-2 ease-in-out"
      href="#hero"
    >
      Home
    </a>
    <a
      class="transition-all text-white/70 hover:scale-105 hover:text-white py-2 ease-in-out"
      href="#about"
    >
      About
    </a>
    <a
      class="transition-all text-white/70 hover:scale-105 hover:text-white py-2 ease-in-out"
      href="#projects"
    >
      Projects
    </a>
    <a
      class="transition-all text-white/70 hover:scale-105 hover:text-white py-2 ease-in-out"
      href="/blog"
    >
      Blog
    </a>
    <a
      class="transition-all p-2 text-white/80 bg-[#594288]/40 border-[#5E4F9A]/70 border rounded-xl hover:scale-105 hover:text-white hover:bg-[#594288]/60 hover:border-[#5E4F9A]/100 ease-in-out"
      href="/cv"
    >
      View CV
    </a>
  </nav>
</header>
