---
import Navigation from './Navigation';
import RaccoonIcon from '@/icons/RaccoonIcon.astro';
---

<header class="flex absolute w-full top-0 justify-between md:justify-around items-center py-2 select-none z-10 px-7">
  <a href="/">
    <!-- TODO: Change icon for a custom one -->
    <RaccoonIcon />
  </a>
  <Navigation client:load />
</header>

<style is:global>
  .navbar-list {
    transition: all 0.2s ease-in-out;
  }
  .navbar[data-open="false"] .navbar-list {
    transform: translateY(-50%) scaleY(0);
    opacity: 0;
  }

  @media (min-width: 768px) {
    .navbar[data-open="false"] .navbar-list {
      transform: none;
      opacity: 1;
    }
  }
  
  
</style>
